<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Moods Homepage</title>
  {{!-- bulma --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/d81acf0f70.js" crossorigin="anonymous"></script>
  {{!-- JQUERY --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{!-- custom css --}}
  <link href="/CSS/style.css" rel="stylesheet">
  {{!-- Allow partials to add to head --}}
  {{{_sections.head}}}
</head>

<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="bg-green pt-2">
        <a class="navbar-item" href="#">
          <img src="/Images/Moods_Logo.png" width="112" height="28">
        </a>
      </div>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        {{!-- Have home lead to member page if logged in otherwise main home page --}}
        {{#if loggedIn}}
        <a class="navbar-item" href='/member'>
          Home
        </a>
        <a href="/chat" class="navbar-item">
          Chat
        </a>
        <a href="/privateMessages" class="navbar-item">
          Messages
        </a>
        {{else}}
        <a class="navbar-item" href='/'>
          Home
        </a>
        {{/if}}

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{#if loggedIn}}
            <a href="/friendRequests" class="button" id="notifications">
              <strong id="notificationNumber">Friend Requests: {{requests}}</strong>
            </a>
            <div class="navbar-item has-dropdown is-hoverable mr-3 pb-2">
              <a class="navbar-link">
                Profile
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Settings
                </a>
                <a class="navbar-item">
                  Playlists
                </a>
                <a class="navbar-item">
                  Songs
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
            <a class="button is-success has-text-black" id="logoutButton">
              <strong>Logout</strong>
            </a>
            {{else}}
            <a class="button is-success has-text-black" href='/signup'>
              <strong>Sign up</strong>
            </a>
            <a class="button is-link" href='/login'>
              Log in
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>
  {{{body}}}

  {{#if loggedIn}}
  <script src="/JS/logout.js"></script>

  {{/if}}
  <script src="/JS/script.js"></script>
</body>

</html>