{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/member.css" rel="stylesheet">
{{/section}}

<div class="container">
    <div class="columns custom-flex my-5">
        <div class="column is-two-thirds bg-555 friends my-3 pt-3 mx-5">
            <h1 class="has-text-centered is-size-2 mb-4">{{playlists.name}}</h1>
            <div class="line mb-3"></div>
            <button><a style="color:black" href='/songs'>Add Songs</a></button>
            <div class="columns custom-flex">
                <ul class="PlaylistID">
                    {{#if songs}}
                    {{#each songs as |song|}}
                    <li><a href='/songs/{{song.id}}'>{{song.name}}</li></a>
                    {{/each}}
                    {{else}}
                    <li>No songs found!</li>
                    {{/if}}
                    <li><button id='deleteBtn' data-id={{playlists.id}}>Delete Playlist</button></li>
                </ul>
            </div>
        </div>
        <script src="/JS/deletePlaylist.js"></script>