{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/member.css" rel="stylesheet">
{{/section}}


<div class="container.is-fullhd my-5">
    <div class="columns custom-flex">
        <div class="column is-one-quarter bg-555 custom-border-right">
            <aside class='menu'>
                <p class='menu-label has-text-warning'>
                    General
                </p>
                <ul>
                    <li><a href="/noteForm" id="menuChoice">Create Note</a></li>
                    <li><a href="/playlists" id="menuChoice">Playlists</a></li>
                    <li><a href="/songs" id="menuChoice">Songs</a></li>
                </ul>
                <p class='menu-label has-text-warning'>
                    Settings
                </p>
                <ul>
                    <li><a href="/updatepassword" id="menuChoice">Update Password</a></li>
                </ul>
            </aside>


        </div>
        <div class="column is-two-thirds bg-555 pt-4">
            <h1 class="is-size-2 has-text-centered mb-3">My Notes</h1>
            <div class="line mb-3"></div>

            {{#if loggedIn}}
            {{#each user.Notes as |note|}}
            <div class="custom-card-header">
                <a href="/viewNote/{{note.id}}">
                    <h2 class="is-size-3">Title: {{note.title}}</h2>
                </a>
                <p class="my-2">Created at: {{format_date note.created_at}} {{format_time note.created_at}}</p>
            </div>
            <button data-note_id={{note.id}} class="button is-danger mt-2 noteDelete">Delete Note</button>
            <hr>
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>
<script src="/JS/deleteNote.js"></script>